/* =================reset css starts here================= */

@font-face {
    font-family: 'YMWMFont';
    src: url('../fonts/AaYimengweimjf.eot');
    src: url('../fonts/AaYimengweimjf.eot') format('embedded-opentype'),
        url('../fonts/AaYimengweimjf.woff2') format('woff2'),
}

@font-face {
    font-family: 'FZXiJinLJW';
    src: url('../fonts/FZXiJinLJWoOeuCzi.subset.eot') format('embedded-opentype'),
        url('../fonts/FZXiJinLJWoOeuCzi.subset.woff2') format('woff2'),
        url('../fonts/FZXiJinLJWoOeuCzi.subset.woff') format('woff'),
}

* {
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset {
	margin:0;
	padding:0;
	outline:none;
	border:0
}
form,fieldset {
	width:100%
}
img {
	border:0;
}
a {
	text-decoration:none;
	border:0;
	outline:0;
}
.clear {
	clear:both;
	width:auto !important
}
ul {
	list-style:none;
}
a:focus,input:focus,textarea:focus,*:focus {
	outline:0 !important;
	box-shadow:none !important;
}
.nobg {
	background:transparent !important;
}
/* =================reset css ends here================= */
html,body {
	height:100%;
}
body {
	font-size:14px;
	line-height:24px;
	font-weight:400;
	font-family:'Quicksand';
	color:rgba(255,255,255,0.7);
	background:#C43739;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
 	overflow-x: hidden;
}
.container {
	width:100%;
	max-width:1300px;
}
a,input,button {
	text-decoration:none;
	color:inherit;
	outline:none;
	transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
}
a img {
	border:0px none;
}
a:hover {
	outline:none;
	color:#ce9f51;
	text-decoration:none;
}
a:active {
	outline:none;
	text-decoration:none;
}
a:focus {
	outline:none;
	outline-offset:0px;
	text-decoration:none;
	color:inherit;
}
::-webkit-input-placeholder,.form-control::-webkit-input-placeholder {
	color:#625d85;
	opacity:1;
}
::-moz-placeholder,.form-control::-moz-placeholder {
	color:#625d85;
	opacity:1;
}
:-moz-placeholder,.form-control:-moz-placeholder {
	color:#625d85;
	opacity:1;
}
:-ms-input-placeholder,.form-control:-ms-input-placeholder {
	color:#625d85;
	opacity:1;
}
img {
	max-width:100%;
}
h1,h2,h3,h4,h5,h6 {
	margin:0px;
	padding:0px;
	margin-bottom:15px;
	line-height:1.2;
	font-weight:300;
	color:inherit;
	font-family:'Lovers Quarrel';
}
h1 {
	font-size:72px;
}
h2 {
	font-size:60px;
}
h3 {
	font-size:48px;
}
h4 {
	font-size:40px;
}
h5 {
	font-size:32px;
	line-height:1;
}
h6 {
	font-size:26px;
	line-height:1;
}
p {
	margin:0px;
	padding:0px;
	margin-bottom:25px;
}
b {
	font-weight:600;
}
strong {
	font-weight:700;
}
p:last-child {
	margin-bottom:0;
}
.large-para {
	font-size:18px;
	line-height:27px;
	color:#000;
}
.mar-40 {
	margin-bottom:40px !important;
}
.mar-30 {
	margin-bottom:30px !important;
}
.no-mar {
	margin:0 !important;
}
.btn {
	border-radius:50px;
	font-weight:500;
	padding:12px 30px;
	font-size:15px;
	box-shadow:none;
}
.btn-default {
	color:#fff;
	background-color:#ce9f51;
	border:solid 1px #ce9f51;
}
.btn-default:hover,.btn-default:focus,.btn-default:active {
	color:#ce9f51;
	background-color:transparent;
	border-color:#ce9f51;
}
.btn-primary {
	color:#ce9f51;
	background-color:transparent;
	border:solid 1px #ce9f51;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
	color:#fff;
	background-color:#ce9f51;
	border-color:#ce9f51;
}
.btn-second {
	color:#fff;
	background-color:#ce9f51;
	border:solid 1px #ce9f51;
}
.btn-second:hover,.btn-second:focus,.btn-second:active {
	color:#fff;
	background-color:#000;
	border-color:#000;
}
.btn.btn-lg {
	padding:18px 40px !important;
}
.btn + .btn {
	margin-left:10px;
}
/* ===================== PRELOADER  start======================== */
.preloader {
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
	background:#fff;
	width:100%;
	height:100%;
	text-align:center
}
.spinner {
	position:relative;
	top:50%;
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
	transform:translate(0,-50%);
	display:inline-block;
	background-color:#000;
	width:40px;
	height:40px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	-webkit-animation:sk-scaleout 1s infinite ease-in-out;
	animation:sk-scaleout 1s infinite ease-in-out
}
.loaded .preloader {
	visibility:hidden;
	opacity:0;
	-webkit-transition:ease-out .2s;
	-moz-transition:ease-out .2s;
	-o-transition:ease-out .2s;
	transition:ease-out .2s
}
@-webkit-keyframes sk-scaleout {
	0% {
	-webkit-transform:scale(0)
}
100% {
	-webkit-transform:scale(1);
	opacity:0
}
}@keyframes sk-scaleout {
	0% {
	-webkit-transform:scale(0);
	transform:scale(0)
}
100% {
	-webkit-transform:scale(1);
	transform:scale(1);
	opacity:0
}
}/* ===================== PRELOADER  end======================== */
.search-box-outer {
	position:fixed;
	width:100%;
	height:60px;
	float:left;
	background:#fff;
	z-index:99999999;
	left:0;
	transition:all 0.2s ease-in;
	top:-60px;
}
.search-box {
	width:100%;
	position:relative;
	padding-right:60px;
}
.search-box .form-control,.search-box .form-control:focus {
	height:60px;
	border:0;
	box-shadow:none !important;
	font-size:24px;
	background:transparent;
}
.close-search {
	width:60px;
	height:60px;
	float:left;
	position:absolute;
	top:0;
	right:0;
	font-size:24px;
	line-height:60px;
	text-align:center;
	color:#333;
}
.show-search .search-box-outer {
	top:0;
}
.search-box-outer .container {
	padding:0;
}
/* ================= Header start ================= */
header {
	background:transparent;
	width:100%;
	position:fixed;
	top:0px;
	left:0;
	top:0;
	color:inherit;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	z-index:9999;
	font-size:14px;
	color:#fff;
	font-weight:500;
	transition:all 0.1s ease-in;
	border-bottom:solid 1px rgba(255,255,255,0.2);
}
header.fixed {
	-webkit-box-shadow:0 4px 10px -8px rgba(0,0,0,0.45);
	box-shadow:0 4px 10px -8px rgba(0,0,0,0.45);
	color:#000;
}
header:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	height:0;
	width:100%;
	background:#fff;
	transition:all 0.1s ease-in;
}
.header-bar {
	display:block;
	margin:0 -15px;
	position:relative;
	z-index:999;
}
header.fixed:after {
	height:100%;
}
header .logo-dark {
	display:none;
}
header .logo-light {
	display:block;
}
header.fixed .logo-dark {
	display:block;
}
header.fixed .logo-light {
	display:none;
}
.logo {
	float:left;
	width:120px;
	padding:15px;
	height:60px;
	position:relative;
	z-index:20;
}
.logo a {
	float:left;
}
.logo small {
	position:absolute;
	left:100%;
	top:50%;
	text-align:center;
	margin-top:-8px;
	border-left:solid 1px #fff;
	font-size:10px;
	line-height:10px;
	padding:5px 10px;
	opacity:0.5;
}
.navbar-default .navbar-nav > li > a {
	color:inherit;
	padding:10px 15px;
}
.navbar-default .navbar-nav > li > a.hero-btn {
	background:#ce9f51 !important;
	border-radius:40px;
	color:#fff !important;
	padding:10px 30px;
}
.navbar-default .navbar-nav > li > a.hero-btn:hover,.navbar-default .navbar-nav > li > a.hero-btn:focus {
	color:#fff !important;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#ce9f51;
}
.navbar-default .navbar-nav > li > a:focus {
	color:inherit;
}
.navbar-right {
	margin:0;
}
.navbar-default {
	background:transparent;
	border:0;
	margin:0;
	box-shadow:none;
	z-index:10;
}
.navbar-nav > li {
	padding:10px 2px;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
	color:#ce9f51;
	background:transparent;
}
.navbar-toggle {
	padding:0;
	border:0;
	background:transparent;
	right:0;
	left:auto;
	margin-top:18px;
	margin-left:12px;
	position:absolute;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background:transparent;
}
.navbar-toggle {
	width:30px;
	height:24px;
	cursor:pointer;
	text-decoration:none;
}
.navbar-toggle .icon-bar {
	position:relative;
	display:inline-block;
	width:28px;
	height:1px;
	color:#243238;
	text-indent:-55px;
	background:transparent!important;
	transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	vertical-align:middle;
}
.navbar-toggle .icon-bar:before,.navbar-toggle .icon-bar:after {
	content:'';
	width:28px;
	height:1px;
	background:#fff;
	position:absolute;
	left:0;
	transition:all .2s ease-out;
}
.navbar-toggle.collapsed .icon-bar {
	background:#fff!important;
}
.navbar-toggle.collapsed .icon-bar:before,.navbar-toggle.collapsed .icon-bar:after {
	background:#fff;
}
.fixed .navbar-toggle.collapsed .icon-bar {
	background:#000 !important;
}
.fixed .navbar-toggle.collapsed .icon-bar:before,.fixed .navbar-toggle.collapsed .icon-bar:after,.fixed .navbar-toggle .icon-bar:before,.fixed .navbar-toggle .icon-bar:after {
	background:#000;
}
.navbar-toggle.collapsed .icon-bar:before {
	top:-8px;
	-webkit-transform:rotateZ(0deg);
	-moz-transform:rotateZ(0deg);
	-ms-transform:rotateZ(0deg);
	-o-transform:rotateZ(0deg);
	transform:rotateZ(0deg);
}
.navbar-toggle .icon-bar:before {
	top:0;
	-webkit-transform:rotateZ(45deg);
	-moz-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	-o-transform:rotateZ(45deg);
	transform:rotateZ(45deg);
}
.navbar-toggle.collapsed .icon-bar:after {
	bottom:-8px;
	-webkit-transform:rotateZ(0deg);
	-moz-transform:rotateZ(0deg);
	-ms-transform:rotateZ(0deg);
	-o-transform:rotateZ(0deg);
	transform:rotateZ(0deg);
}
.navbar-toggle .icon-bar:after {
	bottom:0;
	-webkit-transform:rotateZ(-45deg);
	-moz-transform:rotateZ(-45deg);
	-ms-transform:rotateZ(-45deg);
	-o-transform:rotateZ(-45deg);
	transform:rotateZ(-45deg);
}
.header-right {
	float:right;
	z-index:20;
	position:relative;
	margin:0 15px;
}
.search-icon {
	float:left;
	height:60px;
	border-left:solid 1px rgba(255,255,255,0.2);
	border-right:solid 1px rgba(255,255,255,0.2);
	transition:border-color .2s ease-out;
	transition-delay:0s;
}
.fixed .search-icon,.fixed ul.social-links {
	transition-delay:0.6s;
}
.search-icon a {
	float:left;
	line-height:20px;
	padding:20px;
	font-size:20px;
}
ul.social-links {
	display:inline-block;
	vertical-align:top;
}
header ul.social-links {
	border-left:solid 1px rgba(255,255,255,0.2);
	border-right:solid 1px rgba(255,255,255,0.2);
	padding:10px;
	transition:border-color .2s ease-out;
	transition-delay:0s;
}
ul.social-links li {
	float:left;
}
ul.social-links li a {
	float:left;
	line-height:20px;
	padding:10px;
	font-size:13px;
}
header.fixed ul.social-links,header.fixed .search-icon {
	border-color:#f1f1f1;
}
header.fixed .logo small {
	border-color:rgba(0,0,0,0.2)
}
[class^="ti-"],[class*=" ti-"] {
	vertical-align:middle;
}
/* ================= Header end ================= */
/* ================= Hero Section start ================= */
.hero-container {
	position:relative;
	height:100%;
	color:#F0A1A8;
}
.hero-slide {
	width:100%;
	height:100%;
	display:table;
	background-position:center top;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.hero-slide-content {
	display:table-cell;
	vertical-align:middle;
	position:relative;
	z-index:99;
	text-align:center;
	text-shadow:2px 3px 15px rgba(0,0,0,0.3);
	font-weight:600;
}
.hero-slide-content .hero-icon {
	font-size:30px;
	margin-bottom:20px;
	color:#f00;
	text-shadow:none;
}
.hero-slide-content p {
	margin:0;
}
.hero-slide-content h1 {
	font-size:90px;
	line-height:1.2;
	margin-bottom:0;
}
.hero-slide-content h2 {
	font-size:44px;
	position:relative;
	padding-bottom:0;
	margin-bottom:0;
	line-height:1;
	font-weight:400;
}
.hero-slide-content h2 span {
	display:block;
}
.slide-content {
	margin-top:80px;
	padding:0 30px;
}
.clock {
	display:inline-block;
	width:100%;
	max-width:400px;
}
.clock span {
	display:inline-block;
	width:25%;
	float:left;
	font-size:20px;
	line-height:22px;
	color:#fff;
	font-weight:700;
}
.clock b {
	display:block;
	font-size:9px;
	color:#fff;
	text-transform:uppercase;
}
.hero-date {
	width:100%;
	display:inline-block;
	vertical-align:top;
	border-top:solid 1px rgba(255,255,255,0.1);
	border-bottom:solid 1px rgba(255,255,255,0.1);
	padding:15px 0;
	margin-bottom:15px;
}
.countdown-box p {
	margin-bottom:10px;
}
/* ================= Hero Section end ================= */
.section-outer {
	overflow:hidden;
}
.section {
	padding:100px 0;
	position:relative;
}
.section:nth-child(even):before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:0 -9999px;
	padding:0 9999px;
	-ms-transform:rotate(-2.87deg);
	-webkit-transform:rotate(-2.87deg);
	transform:rotate(-2.87deg);
	background:#90001e;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
.heading-container {
	text-align:center;
	margin-bottom:40px;
	transform:rotate(-10deg);
}
.heading-container h3 {
	margin:0;
	font-family:"YMWMFont", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
	font-size:48px;
	color:#eacd77;
}
.partition {
	text-align:center;
	position:relative;
	overflow:hidden;
	clear:both;
	display:inline-block;
	width:100%;
	margin:10px 0;
}
.partition:before {
	content:'';
	width:50px;
	height:1px;
	float:left;
	position:absolute;
	top:11px;
	right:Calc(50% + 30px);
	background:#ce9f51;
}
.partition:after {
	content:'';
	width:50px;
	height:1px;
	float:left;
	position:absolute;
	top:11px;
	left:Calc(50% + 30px);
	background:#ce9f51;
}
.partition span {
	display:inline-block;
	position:relative;
	z-index:99;
	padding:0 6px;
	color:#ce9f51;
	font-size:24px;
}
/* ================= Couple Section start ================= */
 .couple-box {
	width:100%;
	display:block;
	vertical-align:top;
	margin:0px auto 40px;
	text-align:center;
	position:relative;
	max-width:400px;
}
.couple-image {
	display:inline-block;
	vertical-align:top;
	border-radius:50%;
	overflow:hidden;
	width:180px;
	height:180px;
	box-shadow:0 5px 5px 0 rgba(0,0,0,0.15);
	border-radius:50%;
	margin-bottom:20px;
}
.couple-detail {
	width:100%;
	display:inline-block;
	vertical-align:top;
	padding:0 20px;
}
.couple-detail h3 {
	margin:0;
}
.couple-detail h4 {
	margin:0;
	font-family:'Quicksand';
	font-size:15px;
	color:#ce9f51;
}
.couple-image {
	}.social-links {
	width:100%;
	display:inline-block;
	vertical-align:top;
}
.social-links a {
	display:inline-block;
	width:32px;
	height:32px;
	border:solid 1px #fff;
	margin:5px;
	line-height:27px;
	text-align:center;
	border-radius:50%;
	position:relative;
	font-size:13px;
}
.social-links a:hover {
	color:#625d85;
	background:#fff;
}
.social-links a:before {
	content:'';
	width:0;
	height:0;
	float:left;
	border-radius:50%;
	border:solid 1px #fff;
	position:absolute;
	left:50%;
	top:50%;
	transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	opacity:0;
}
.social-links a:hover:before {
	width:36px;
	height:36px;
	left:-3px;
	top:-3px;
	opacity:1;
}
.couple-box .partition {
	transform:rotate(-10deg);
	margin:15px 0;
}

.show-code {
    text-align:left
}

pre {
    padding:1.5px
}
/* ================= Couple Section end ================= */

/* ================= Story Section start ================= */
ul.story-list {
	width:100%;
	display:inline-block;
	position:relative;
	margin-top:25px;
}
ul.story-list li {
	width:100%;
	float:left;
	position:relative;
	padding-bottom:110px;
}
ul.story-list li:before {
	content:'';
	width:1px;
	height:100%;
	position:absolute;
	top:0;
	left:50%;
	border-left:dotted 1px #625d85;
}
ul.story-list li:last-child:before {
	display:none;
}
ul.story-list li:last-child {
	padding:0;
	padding-top:40px;
}
ul.story-list li:last-child .story-image {
	margin:0 25%;
}
ul.story-list li:last-child .story-box {
	width:100%;
	text-align:center;
	padding-top:30px;
}
ul.story-list li:last-child .story-icon:before {
	display:none;
}
.story-icon {
	width:32px;
	height:32px;
	float:left;
	border-radius:50%;
	position:absolute;
	top:-10px;
	left:50%;
	margin-left:-16px;
	border:dotted 1px #625d85;
	background:#F0A1A8;
	text-align:center;
	line-height:34px;
	font-size:16px;
	color:#625d85;
}
.story-image {
	width:50%;
	float:left;
	padding:0px 30px;
	position:relative;
	margin-top:0px;
}
.story-image img {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.35);
	border-radius:5px;
}
.story-box {
	width:50%;
	float:right;
	padding:0 30px;
	margin-top:-10px;
}
.story-box h4 {
	text-transform:lowercase;
	line-height:1;
	color:#ce9f51;
}
ul.story-list li:nth-child(even) .story-image {
	float:right;
}
ul.story-list li:nth-child(even) .story-box {
	text-align:right;
}
ul.story-list li:nth-child(even) .story-image:before {
	right:auto;
	left:0;
}
ul.story-list li:nth-child(even) .story-image:after {
	right:auto;
	left:-6px;
}
/* ================= Story Section end ================= */
/* ================= Events Section start ================= */
.event-box {
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin:0px 0 40px;
	text-align:center;
	box-shadow:0px 0px 60px rgba(0,0,0,0.4);
	padding:30px;
	position:relative;
}
.event-box h3 {
	font-weight:400;
	font-size:48px;
	line-height:60px;
}
.event-box h6 {
	width:100%;
	display:inline-block;
	color:#ce9f51;
	text-transform:lowercase;
}
.event-date {
	float:left;
}
.event-time {
	float:right;
}
.event-date i,.event-time i,.event-address span i {
	margin-right:5px;
	color:#ce9f51;
	font-size:14px;
	line-height:1;
	vertical-align:top;
}
.event-address span {
	display:block;
	color:#ce9f51;
}
hr {
	border-top:solid 1px rgba(0,0,0,0.12);
}
.view-map {
	display:inline-block;
}
.event-map-container {
	position:absolute;
	left:0;
	top:10px;
	background:rgba(255,255,255,0.9);
	width:100%;
	height:100%;
	z-index:11;
	border-radius:10px;
	overflow:hidden;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
	-webkit-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
}
.close-event-map,.close-event-map:hover,.close-event-map:focus {
	width:80px;
	height:80px;
	float:left;
	border-radius:50%;
	z-index:999;
	position:absolute;
	left:50%;
	bottom:0px;
	margin-left:-40px;
	background:#ce9f51;
	color:#141518;
	font-size:32px;
	line-height:80px;
	box-shadow:0 -3px 15px rgba(0,0,0,0.3);
}
.close-event-map {
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
	-webkit-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
}
.event-box.show-map .event-map-container {
	opacity:1;
	visibility:visible;
	top:0;
}
.event-box.show-map .close-event-map {
	opacity:1;
	visibility:visible;
	bottom:-40px;
	transition-delay:0.3s;
}
#map-canvas,#map-canvas2 {
	height:100%;
}
/* ================= Events Section end ================= */

/* ================= Registry Section start ================= */
ul.registry-shop {
	width:100%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}
ul.registry-shop li {
	width:25%;
	float:left;
}
ul.registry-shop li a {
	width:100%;
	float:left;
	opacity:0.6;
	padding:0 20px 0 0;
}
ul.registry-shop li a:hover {
	opacity:0.9;
}
/* ================= Registry Section end ================= */


/* ================= Contact Section start ================= */
.say-love-container {
  font-family:"FZXiJinLJW", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.say-love-content {
  text-align: left; /* 内容左对齐 */
  font-size:25px;
}
/* ================= Registry Section end ================= */


/* ================= Contact Section start ================= */
.contact-container {
	width:100%;
	display:inline-block;
	vertical-align:top;
}
.reservation-box {
	width:100%;
	display:block;
	vertical-align:top;
	margin:0 auto;
	box-shadow:0px 0px 60px rgba(0,0,0,0.4);
	max-width:550px;
	padding:60px 60px 40px;
}
.form-group {
	margin-bottom:20px;
}
.form-control {
	border:0;
	box-shadow:0px 2px 1px rgba(0,0,0,0.1);
	height:44px;
	border:dotted 1px #625d85;
	color:#625d85;
	background:#2d293c;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}
.form-control:focus {
	border:solid 1px #625d85;
	box-shadow:1px 3px 7px rgba(0,0,0,0.1) !important;
}
textarea.form-control {
	height:120px;
	resize:none;
}
/* ================= Contact Section end ================= */
/* ================= Footer start ================= */
footer {
	position:relative;
	font-weight:400;
	padding:30px 0;
	text-align:center;
}
/* ================= Footer end ================= */
.section.gallery-section {
	padding:0;
	height:100%;
	z-index:9999999;
}
.section.gallery-section:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:#f00;
	float:left;
	z-index:99;
	background:rgba(0,0,0,0.7);
}
.slick-list,.slick-track {
	height:100%;
}
.slick-slide {
	background-size:cover;
	background-position:center center;
}
.hero-slider {
	height:100%;
}
.thanks-content {
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	transform:translateY(-50%);
	text-align:center;
	z-index:999;
}
.thanks-box {
	display:inline-block;
	position:relative;
}
.thanks-box h3 {
	color:#ce9f51;
	font-size:120px;
	line-height:1;
	margin:0;
}
.thanks-box h4 {
	font-size:60px;
	line-height:1;
	margin:0;
	color:#fff;
}

.thanks-slogan {
    margin:36px;
    font-size:25px;
    color:#F0A1A8;
}
.fancybox__container{
    top: 60px!important;
}

/* ================= go top start ================= */
.go-top,.go-top:focus {
	position:fixed;
	border-radius:50%;
	right:25px;
	bottom:-15px;
	width:40px;
	height:40px;
	float:left;
	text-align:center;
	line-height:40px;
	opacity:0;
	visibility:hidden;
	font-size:18px;
	background:#fff;
	line-height:40px;
	box-shadow:-5px 5px 10px rgba(0,0,0,0.1);
	z-index:999999999;
	color:#333;
}
.go-top.show {
	opacity:1;
	visibility:visible;
	bottom:25px;
}
/* ================= go top end ================= */

/* ================= go top start ================= */
.music-player{
    float:right;
    position:fixed;
    right: 25px;
    z-index:999999999;
}
/* 移动端 */
 @media screen and (max-width: 767px) {
    .music-player {
        top: 60px;
    }
}
/* PC端 */
@media screen and (min-width: 768px) {
    .music-player {
        top: 15px;
    }
}

.record-player {
    position: relative;
    width: 40px;
    height: 40px;
    animation: spin 3s linear infinite;
    animation-play-state: paused;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0A1A8;
    /* 更加细腻的线条效果和明暗对比 */
    /* background: radial-gradient(circle, #F0A1B2 0%, #F0A1A9 5%, #F1A1A8 10%, #F0A0A8 15%, #F0A2A8 20%, #F2A1A8 25%, #F0A1A7 30%, #EFA1A8 35%, #F0A1AA 40%, #F09FA8 45%, #F0A3A8 50%, #F0A1AB 55%, #F3A1A8 60%, #F0A1A6 65%, #EEA1A8 70%, #F0A4A8 75%, #F0A1AC 80%, #F4A1A8 85%, #F0A1A5 90%, #000 95%, #EDA1A8 100%);*/
    background: #81cac3;
}

.aplayer {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.aplayer.aplayer-narrow .aplayer-body, .aplayer.aplayer-narrow .aplayer-pic {
    border-radius: 50%;
    width: 25px!important;
    height: 25px!important;
}

#aplayer{
    left: 15px;
    top: 15px;
}

.aplayer.aplayer-narrow {
    border-radius: 50% !important;
    width: 25px!important;
    height: 25px;
}

/* ================= go top end ================= */
/* ============================= */
/* ! Layout for ipad lanscape */
/* ============================= */
@media only screen and (max-width:1048px) {
	.header-right {
	margin-right:60px;
}
.navbar-collapse {
	border:0;
	border-top:solid 1px rgba(255,255,255,0.2);
	background:#fff;
	color:#000;
	text-align:center;
}
.navbar-right {
	margin:10px 0;
}
.navbar-nav > li {
	padding:0;
}
.section {
	padding:75px 0;
}
.contact-box {
	padding:35px;
}
.heading-container {
	margin-bottom:50px;
}
}/*=============================
! Layout for ipad portrait
============================= */
@media only screen and (max-width:991px) {
	.contact-box {
	width:auto;
	margin:0 -15px;
	max-width:1048px;
	display:block;
}
.contact-details {
	padding:40px 0 20px;
}
}/* ============================= */
/* ! Layout for mobile(lanscape) version   */
/* ============================= */
@media handheld,only screen and (max-width:767px) {
	.hero-container {
	height:auto;
}
.hero-slide-content h3 {
	font-size:48px;
}
.hero-slide-content p {
	font-size:15px;
}
.hero-slide-content h6 {
	font-size:18px;
}
.slide-content {
	padding:0;
	text-align:center;
	margin:150px 0 40px;
}
header ul.social-links {
	display:none;
}
.search-icon {
	border-right:solid 1px rgba(255,255,255,0.2);
}
.heading-container p {
	font-size:16px;
}
.contact-box {
	padding:40px 15px;
}
.map-container {
	height:240px;
}
.btn {
	padding:10px 20px;
	font-size:13px;
}
.search-box .form-control,.search-box .form-control:focus {
	font-size:18px;
}
.hero-slide-content h1 {
	font-size:72px;
	line-height:1;
}
.reservation-box {
	padding-left:20px;
	padding-right:20px;
}
.thanks-box h3 {
	font-size:60px;
}
.thanks-box h4 {
	font-size:40px;
}
ul.story-list {
	width:100%;
	margin:0;
}
ul.story-list li {
	text-align:center;
	padding:0 !important;
	padding-top:50px !important;
	margin-bottom:60px;
}
.story-image {
	float:none !important;
	margin-bottom:30px;
	display:inline-block;
	width:100%;
	max-width:400px;
	padding:0;
}
.story-image .simple-slider {
	margin-bottom:0;
}
.story-box {
	width:100%;
	text-align:center !important;
	padding:10px;
}
ul.story-list li:last-child .story-image {
	margin:0;
}
ul.story-list li:before {
	height:60px;
	display:block !important;
}
.story-icon {
	width:48px;
	height:48px;
	top:-24px;
	margin-left:-24px;
	line-height:48px;
	font-size:22px;
}

.row .say-love {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: flex-start; /* 垂直顶部对齐，但不影响水平居中 */
  height: 200px; /* 容器高度，根据需要设置 */
}

.row .say-love-content {
  text-align: left; /* 内部文本左对齐 */
  color:#F0A1A8;
}

}@media only screen and (max-width:650px) {
	}/* ============================= */
/* ! Layout for mobile(portrait) version   */
/* ============================= */
@media only screen and (max-width:479px) {
	.hero-slide-content h1 {
	font-size:60px;
}
}